/*hello*/

body {
      background-color:White;
     }
p{
color: black;
font-size:25px;
font-family: arial;
}

h1{
background-color:# white;
color: blue;
text-align: center;
  }

#Vee{
float:left;
margin-left:0px;
width:200px;
height:200px;
}

#sophia{
float:right;
margin-right:50px;
width:300px;
height:250px;
}

#nkrumah{
 float:left;
 margin-left:0px;
width:300px;
height:250px;
}

.c3{
display: block;
background-color:green;
margin-top:30px;
color:white;
}

.c2{
display: block;
background-color:blue;
margin-top:40px;
color:white;
}

.c1{
display: block;
background-color:green;
margin-top:30px;
color:white;
}

